<div class="upload-attachment">
    <label>المرفقات</label>

    <div class="" id="uploaderWrapper">
        <div class="fileinputs">
            <div class="fakefile" id="uploadBtn"
                 data-url="{{ url("smt.uploader_start") }}">
                <button type="button" class="button small margin_0">اختر ملف ( صورة اشاعه او
                    نتيجة تحليل )
                </button>
                <span><i class="icon-arrow-up"></i>تصفح</span>
            </div>
        </div>
                                    <span style="display: none;" class="form-description add-boldness" id="totalFilesInfo"><span id="totalFiles">0</span> ملفات مرفقه <span class="color"><a
                                                    href="#" id="totalFilesDelete">مسح الملفات كلها</a></span></span>

        <div class="attachment-wrap">

        </div>
        <input name="imagesIds" type="hidden" id="imagesIds"/>

        <div class="console"></div>
    </div>


</div>
